$transition: all 0.5s ease-in-out 0s;

html,
body {
	height: 100%;
}
body {
	font-size: 14px;
	background-size: auto 90%;
    background-repeat: no-repeat;
    background-image: url(../icon.png);
    background-position-y: center;
    font-family: 'Lato', sans-serif;
    color: #333;
    a{
    	color: #333;
    	transition: $transition;
    	&:hover{
    		text-decoration:none;
    		color: #0055B8;
    	}
    }
	.site-wrapper {
		display: table;
		width: 100%;
		height: 100%;
		min-height: 100%;
		.site-wrapper-inner {
			margin-top: 100px;
			.cover-container {
				
				padding-left: 40px;
				.cover {
					padding: 0 1.5rem;
					margin: 0 auto;
					h1.brand{
						width: 70%;
						img{
							width: 100%;
						}
					}
					p{
						font-size: 18px;
						padding-left: 20px;
					}
				}
			}
			.subscribe{
			    width: 100%;
			    position: fixed;
			    bottom: 0;
			    padding: 75px 0;
			    background-color: #eee;
			    border-top: 1px solid #ddd;
				#mc_embed_signup{
					padding: 0 1.5rem;
					form#mc-embedded-subscribe-form{
						text-align: center;
						h2{
							font-size:16px;
							display: inline-block;
							margin-right: 15px;
						}
						.indicates-required{
							display: none;
						}
						.mc-field-group{
							display: inline-block;
							margin-right: 15px;
							label{
								display: none;
							}
							input{
								border: none;
								transition: $transition;
							    background: none;
							    border-bottom: 1px solid #aaa;
							    width: 220px;
							    padding: 2px 5px;

							    &:focus{
							    	border-bottom: 2px solid #aaa;
							    	outline: none;
							    	transition: $transition;
							    }
							}
						}
						#mce-responses{
							display: inline-block;
						}
						.clear{
							display: inline-block;
							input.button{
								background: #469446;
							    box-shadow: none;
							    border: none;
							    padding: 5px 15px;
							    border-radius: 3px;
							    color: #fff;
							    transition: $transition;
							    &:hover{
							    	background-color:#57b54c;
							    }
							}
						}
					}
				}
			}
		}
	}
}
strong{
	font-weight: 700;
}

@media (min-width: 40em) {
	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}
	/* Handle the widths */
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
	}
}

@media (min-width: 62em) {
	.cover-container {
		.cover{
			width: 42rem;
		}
	}
}

@media (max-width: 768px) {
	body{
		background:none;
		.site-wrapper {
			.site-wrapper-inner {
				vertical-align: top;
				.cover-container {
					padding: 20px 0px;
				}
				.subscribe {
					#mc_embed_signup {
						form#mc-embedded-subscribe-form {
							h2{
								text-align: left;
    							margin-bottom: 15px;
							}
							.mc-field-group{
								margin-right: 0;
								width: 100%;
								margin-bottom: 15px;
								input{
									width: 100%;
								}
							}
							.clear{
								width: 100%;
								input.button{
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}